$mainColor: #e9b824;
$secondaryColor: #967c34;
$tipografia-principal: "Quicksand", sans-serif;
$tipografia-secundaria: "Montserrat", sans-serif;

html {
  font-size: 23px;
}

.cards-section {
  @media (max-width: 767px) {
    margin-top: -50px;
  }
  @media (max-width: 567px) {
    margin-top: 20px;
  }
  @media (min-width: 768px) {
    margin-top: 30px;
  }
}

.exp-timeline {
  width: 100px;
  height: 50px;
  transform: rotate(90deg);
  letter-spacing: 12px;
  margin-left: 80px;
  margin-right: 10px;
  margin-top: 15px;
}

.exp-period {
  color: #bebebe;
  font-size: 0.9rem;
  @media (max-width: 767px) {
    font-size: 0.7rem;
  }
}

strong {
  font-size: 70px;
  padding-bottom: 60px;
  color: #2e2e2ec4;
}

.pre-strong {
  padding-bottom: 10px;
}

.exp-description {
  @media (max-width: 767px) {
    font-size: 0.8rem;
  }
  @media (min-width: 768px) and (max-width: 1000px) {
    font-size: 0.9rem;
  }
  @media (min-width: 1001px) and (max-width: 1199px) {
    font-size: 1rem;
  }
  @media (min-width: 1200px) {
    font-size: 1.05rem;
  }
  text-wrap: pretty !important;
}

.exp-card-img {
  width: 100px;
  object-fit: cover;
  @media (max-width: 767px) {
    width: 50px;
  }
}

.exp-link {
  font-size: 1.7rem;
  color: rgb(44, 44, 44) !important;
  text-decoration: none !important;
  text-decoration-color: #755e17 !important;
  transition: all 150ms ease-in-out;
  &:hover {
    text-decoration: underline 2px !important;
    text-underline-offset: 5px;
    text-decoration-color: #755e17 !important;
    opacity: 0.8;
    transition: all 150ms ease-in-out;
  }
  @media (max-width: 767px) {
    font-size: 1.3rem;
  }
}

body {
  &::-webkit-scrollbar {
    display: none;
  }
}

#Skills,
#Footer {
  background-color: #c09a27;
}

#Skills {
  background-image: url("../images/bg-yellow-wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
#Projects {
  background-image: url("../images/bg-yellow-wave2.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#Home {
  background-image: url("../images/bg-black-wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#About {
  background-image: url("../images/bg-black-wave2.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#Contact {
  background-color: #1f1f1f;
}

#Footer {
  font-size: large;
  color: rgb(216, 216, 216);
  min-height: 15vh !important;
  background-color: #2b2b2b;
}

.App {
  font-family: $tipografia-principal;
}

.contain {
  h1 {
    font-family: $tipografia-secundaria;
  }

  p {
    font-family: $tipografia-secundaria;
  }
}

.underline-yellow {
  text-decoration: underline;
  text-decoration-color: #e9b82475;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
}
.underline-black {
  text-decoration: underline;
  text-decoration-color: #3333335e;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
}

.animate__fadeInUp {
  animation-delay: 1s;
}

.animate__fadeInLeft {
  margin-top: 200px;
  animation-delay: 2s;
}

.card {
  align-self: center;
  width: 100% !important;
  max-width: 15rem !important;
}

.card-text {
  min-height: 4.3rem;
}

.btn-primary {
  &:hover {
    opacity: 0.7;
    transition: all ease 0.2s;
  }
  background-color: $mainColor !important;
}

.img-fluid {
  width: 100px !important;
  height: 100px !important;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(3px);
  height: 3.5rem;
}

#floatingTextarea {
  min-height: 170px;
}

.form-control,
.submit {
  background-color: $secondaryColor !important;
  border-color: $secondaryColor !important;
  &:hover,
  &:focus {
    box-shadow: 0px 0px 12px $secondaryColor !important;
  }
}

.fixed-bottom {
  right: auto !important;
}

.social-icon {
  right: auto;
  width: 2.7rem !important;
  height: 2.6rem;
}

.arrow-to-home {
  width: 1.6rem !important;
  height: 1.6rem;
}

.nav-item {
  transition: all 0.3s;

  &:hover {
    opacity: 0.8 !important;
    // color: black !important;
    transition: all 0.4s;
  }
}

.nav-link {
  position: relative;
  transition: all 0.5s;
  &::after {
    transition: all 0.5s;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: "";
    background: $mainColor;
    height: 1px;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.lng-btns {
  color: white;

  label {
    color: gray;

    &:hover {
      color: white !important;
    }
  }
}

.map-img {
  transition: all 150ms ease-in-out;
  min-width: 80px !important;
  max-height: 80px;
  @media (min-width: 768px) {
    min-width: 100px !important;
    max-height: 100px;
  }
  @media (min-width: 992px) {
    min-width: 110px !important;
    max-height: 110px;
  }
}

.skill-card {
  width: 5rem !important;
  @media (min-width: 768px) {
    width: 6rem !important;
  }
  @media (min-width: 992px) {
    width: 7rem !important;
  }
}

.skill-title {
  font-size: 21px;
  @media (min-width: 768px) {
    font-size: 24px;
  }
  @media (min-width: 992px) {
    font-size: larger;
  }
}

.skill-hover-effect {
  :hover {
    transition: all 150ms ease-in-out;
    transform: scale(1.1);
  }
}

.card-img-top {
  height: 8rem;
  object-fit: cover;
}
