$tipografia-principal: 'Quicksand', sans-serif;
$tipografia-secundaria: 'Montserrat', sans-serif;

html {
    font-size: 25px;
}

.App {
    font-family: $tipografia-principal;
    background: linear-gradient(140deg, rgba(0,0,0,1) 0%, rgba(3,8,8,1) 45%, rgba(33,82,87,1) 85%, rgba(46,113,120,1) 96%, rgba(51,132,140,1) 99%);
    // background: radial-gradient(circle, rgba(23,53,56,1) 0%, rgba(0,0,0,1) 100%);
    height: 100vmax;
}

.container {
    h1 {
        font-family: $tipografia-secundaria;
    }

    p {
        font-family: $tipografia-secundaria;
    }
}


.animate__fadeInUp {
    animation-delay: 1s;
}

.card {
    width: 15rem !important;
}

.btn-primary {
    background-color: rgba(51,132,140,1) !important;
    border: none !important;
}
