$mainColor: #e9b824;
$secondaryColor: #967c34;
$tipografia-principal: "Quicksand", sans-serif;
$tipografia-secundaria: "Montserrat", sans-serif;

html {
  font-size: 23px;
}

body {
  &::-webkit-scrollbar {
    display: none;
  }
}

#Projects, #Skills, #Footer {
  background-color: #c09a27;
}
#Home ,#About, #Contact {
  background-color: #1f1f1f;
}
#Footer {
  font-size: large;
  color: rgb(216, 216, 216);
  min-height: 15vh !important;
  background-color: #2b2b2b;
}

.App {
  font-family: $tipografia-principal;
}

.contain {
  h1 {
    font-family: $tipografia-secundaria;
  }

  p {
    font-family: $tipografia-secundaria;
  }
}

.animate__fadeInUp {
  animation-delay: 1s;
}

.animate__fadeInLeft {
  margin-top: 200px;
  animation-delay: 2s;
}

.card {
  align-self: center;
  width: 100% !important;
  max-width: 15rem !important;
}

.card-text {
  min-height: 4.3rem;
}

.btn-primary {
  &:hover {
    opacity: 0.7;
    transition: all ease 0.2s;
  }
  background-color: $mainColor !important;
}

.img-fluid {
  width: 100px !important;
  height: 100px !important;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(3px);
  height: 3.5rem;
}

#floatingTextarea {
  min-height: 170px;
}

.form-control,
.submit {
  background-color: $secondaryColor !important;
  border-color: $secondaryColor !important;
  &:hover,
  &:focus {
    box-shadow: 0px 0px 12px $secondaryColor !important;
  }
}

.fixed-bottom {
  right: auto !important;
}

.social-icon {
  right: auto;
  width: 2.7rem !important;
  height: 2.6rem;
}

.arrow-to-home {
  width: 1.6rem !important;
  height: 1.6rem;
}

.nav-item {
  transition: all 0.3s;

  &:hover {
    opacity: 0.8 !important;
    // color: black !important;
    transition: all 0.4s;
  }
}

.nav-link {
  position: relative;
  transition: all 0.5s;
  &::after {
    transition: all 0.5s;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: "";
    background: $mainColor;
    height: 1px;
  }

  &:hover {  
    &::after {
      width: 100%;
    }
  }
}

.lng-btns {
  color: white;
  
  label {
    color: gray ;

    &:hover {
      color: white !important;
    }
  }
}

.map-img {
  transition: all 150ms ease-in-out; 
  min-width: 80px !important;
  max-height: 80px;
  @media (min-width: 768px) {
    min-width: 100px !important;
    max-height: 100px;
   }
  @media (min-width: 992px) { 
    min-width: 110px !important;
    max-height: 110px;

  }
}

.skill-card {
  width: 5rem !important;
  @media (min-width: 768px) {
    width: 6rem !important;
   }
  @media (min-width: 992px) { 
    width: 7rem !important;
  }
}

.skill-title {
  font-size: 21px;
  @media (min-width: 768px) {
    font-size: 24px;
   }
  @media (min-width: 992px) { 
    font-size: larger
  } 
}

.skill-hover-effect {
  :hover {
    transition: all 150ms ease-in-out; 
    transform: scale(1.1);
  }
}

.card-img-top {
  height: 8rem;
  object-fit: cover;
}
